<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>
    <h:form id="tableForm">
        <p:growl id="msgs" showDetail="true"/>

        <p:dataTable id = "tblWords" var="word" value="#{dictionaryView.words}" emptyMessage="Словарь пуст">
            <p:column headerText="Слово" width="400">
                <h:outputText value="#{word.text}" />
            </p:column>

            <p:column headerText="Статус" width="100">
                <h:outputText value="#{word.statusText}" />
            </p:column>

            <p:column headerText="Длина" width="100">
                <h:outputText value="#{word.length}" />
            </p:column>

            <p:column headerText="+" width="100">
                <f:facet name="header">
                    <p:commandButton icon="fa fa-fw fa-plus"
                                     action="#{dictionaryView.initAdd}"
                                     update="@([id$=display])" oncomplete="PF('wDlgEdit').show();">
                    </p:commandButton>
                </f:facet>

                <p:commandButton icon="fa fa-fw fa-edit"
                                 action="#{dictionaryView.initEdit}"
                                 update="@([id$=display])" oncomplete="PF('wDlgEdit').show();">
                    <f:setPropertyActionListener value="#{word}"
                                                 target="#{dictionaryView.selectedWord}" />
                </p:commandButton>
                <p:commandButton icon="fa fa-fw fa-trash" update=":tableForm" action="#{dictionaryView.delete(word)}">
                    <p:confirm header="Внимание!" message="Вы действительно хотите удалить слово '#{word.text}'?" icon="pi pi-exclamation-triangle" />
                </p:commandButton>
            </p:column>
        </p:dataTable>
    </h:form>
    <p:link outcome="index" value="Назад"/>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" style="float:right"/>
        <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" style="float:right"/>
    </p:confirmDialog>

    <p:dialog header="Добавление\редактирование слова" id = "dlgEdit" widgetVar="wDlgEdit" resizable="false" modal="true"
              width="400">
        <h:form id="dlgForm">
            <h:panelGrid id="display" columns="2" cellpadding="4">
                <h:outputText value="Слово:" />
                <h:inputText id="itWord" value="#{dictionaryView.selectedWord.text}" required="true" requiredMessage="Слово не должно быть пустым!"/>

                <h:outputText value="Статус:" />
                <p:selectOneButton value="#{dictionaryView.selectedWord.status}">
                    <f:selectItem itemLabel="ACTIVE" itemValue="true" />
                    <f:selectItem itemLabel="INACTIVE" itemValue="false" />
                </p:selectOneButton>
            </h:panelGrid>
            <p:keyFilter for="itWord" regEx="/[А-Я]/i"/>

            <p:commandButton value="ОК" action="#{dictionaryView.save}" update="tableForm:tblWords" oncomplete="PF('wDlgEdit').hide()"/>
            <p:commandButton value="Отмена" action="#{dictionaryView.cancel}" update="tableForm:tblWords" oncomplete="PF('wDlgEdit').hide()"/>
        </h:form>
    </p:dialog>
</h:body>
</html>
