<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>
    <h:form>
        <p:panel header="Некий аналог Т9">
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel value="Вводите слово:" for="acWord"/>
                <p:autoComplete id="acWord" value="#{autoCompleteView.word}"
                                completeMethod="#{autoCompleteView.completeText}"/>
            </h:panelGrid>
            <p:keyFilter for="acWord" regEx="/[А-Я]/i"/>
        </p:panel>
    </h:form>

    <p:link outcome="dictionary" value="Справочник слов"/>
</h:body>

</html>
